<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/current_user_info' %>
      </section>
    </aside>
    <div class="col-md-8 center well">
      <%= render 'shared/current_user_courses' %>
      <%= render 'shared/add_course' %>
    </div>
  </div>

<% elsif student_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/current_student_info' %>
      </section>
    </aside>
    <div class="col-md-8 center well">
      <%= render 'shared/current_student_courses' %>
    </div>
  </div>

<% else %>
  <div class="center jumbotron">
    <h1>STEPS Project HOME</h1>
    <h2>
      Welcome to the home page for the STEPS project, a Rails application designed to streamline the process of creating and managing student passes.
    </h2>
    <h2>
      We are currently looking at opening our application for a closed beta at select <a href="http://www.sdhc.k12.fl.us">Hillsborough County Public Schools</a> for grades 8-12. If you would like to request your school to be added to the beta, please visit the Contact page and send us a message regarding adding your school to the beta.
    </h2>
    <div class="row">
      <div class="center-block">
        <div class="col-md-4 col-md-offset-1">
          <h3>New User?</h3>
          <p>Click the corresponding button below to sign-up</p>
          <%= link_to "Register as a Teacher", new_user_registration_path, class: "btn btn-lg btn-primary btn-registration" %>
          <br />
          <%= link_to "Register as a Student", new_student_registration_path, class: "btn btn-lg btn-info btn-registration" %>
        </div>
        <div class="col-md-4 col-md-offset-2">
          <h3>Already a User?</h3>
          <p>Navigate to your Sign-in Page Below</p>
          <%= link_to "Teacher Log In", new_user_session_path, class:"btn btn-lg btn-primary btn-login" %>
          <%= link_to "Student Log In", new_student_session_path, class:"btn btn-lg btn-info btn-login" %>
        </div>
      </div>
    </div>
  </div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>

<% end %>
