
<h1>Create New Pass</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for([@user,@pass], html: { class: 'form-horizontal' }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
          <%= f.input :student_id, :collection => current_user.students, :label_method => 'fullname', prompt: "Select a Student" %>
          <%= f.input :time_out, as: :string, input_html: { class:"display-none", id:"departure-time"}%>
          <%= f.input :destination, :collection => @destinations, :hint => "Select your destination from the list above", :prompt => "Select a Destination", input_html: { id: "destination-select" } %>
          <div id="specify-destination" class="display-none">
          <h4>Destinaton Missing? Enter it in the box below</h4>
            <%= f.input :destination, :disabled => true, input_html: { id: "destination-custom" }  %>
          </div>
            <%= f.input :returning, :label => "Student Returning?" %>
          <div class="return-student display-none" >
            <%= f.input :return_time, as: :string, input_html: {class:"display-none", id:"return-time" } %>
          </div>
          <%= f.button :submit %>
    <% end %>
  </div>
</div>
