<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<p>This is the sign-up page for new teachers at participating instituions
to create a new account. New admin accounts for the institution can be created
by contacting the STEPS Prject team.
</p>
<p>
In order for registration to be successful, your institution must be registered
with The STEPS Project. To register your institution with the project, please
contact the STEPS Project team.
</p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
