<%= provide(:title, @user.fullname) %>
<div class="row">
<aside class="col-md-4">
  <section class="user_info">
    <h1>
      <%= image_tag(@user.avatar.url(:medium), :class => "round-image-250") %>
      <%= @user.fullname %>
    </h1>
      <% unless @user.subject_area.blank? %>
        <h2><%= @user.subject_area %> Instructor</h2>
      <% end %>
      <% unless @user.instructional_level.blank? %>
        <h2>Level: <%= @user.instructional_level %></h2>
      <% end %>
      <% unless @user.school_name.blank? %>
        <h2>School: <%= @user.school_name %></h2>
      <% end %>
  </section>
</aside>
<div class="col-md-8 center well">
  <% if @user.courses.any? %>
    <h3><%= @user.first_name %>'s Courses (<%= @user.courses.count %>)</h3>
      <ol class="courses">
        <%= render @courses %>
      </ol>
    <%= will_paginate @courses %>
  <% else %>
    <h3>No Courses Found</h3>
    <p>
      <%= @user.first_name %>  doesn't have any courses yet. 
    </p>
    <p>
      If you are <%= @user.first_name %>, Click Here to start a new course.
    </p>
  <% end %>
  </div>
</div>
