<tr id="course-<%= course.id %>">
  <td class="course_name"><%= course.course_name %></td>
  <td class="course_period">Period <%= course.period %></td>
  <td class="course_number"><%= course.course_sequence_number %></td>
  <% if current_user == course.user %>
    <td>
      <%= link_to "Delete Course", course, method: :delete, data: { confirm: "This course and all of its enrollments will be permanetely erased and cannot be undone. Are you sure you want to delete this course?" } %>
    </td>
  <% end %>
</tr>
