<li id="course-<%= course.id %>">
  <%= image_tag(course.user.avatar.url(:thumb), :class => "round-image-50") %>
  <span class="user"><%= link_to course.user.fullname, course.user %></span>
  <span class="course_name"><%= course.course_name %></span>
  <span class="course_number"><%= course.sequence_number %></span>
</li>
